PATH=/home/ubuntu/.rbenv/shims:/home/ubuntu/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

SECRET_KEY_BASE=change_me_in_production

RACK_ENV=test
RAILS_ENV=test

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=example_app_test
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

DEVISE_SECRET_KEY=change_me_in_production
